@page
@model Cinema.View.Pages.CinemasInformationModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                @if (Model.Cinemas.Count == default)
                {
                    <h3 style="text-align: center">На данный момент нет информации о наших кинотеатрах</h3>
                }
                else
                {
                    <h3 style="text-align: center">Наши <span>кинотеатры</span></h3>
                    @foreach (var cinema in Model.Cinemas)
                    {
                        <h4>@cinema.Name (@cinema.Address)</h4>
                        <div class="address">
                            <div class="fleft">
                                <span>Описание:</span>@cinema.Description<br/>
                                @if (cinema.Services?.Count != default(int))
                                {
                                    <span>Сервисы:</span>
                                    <br/>
                                    @foreach (var service in cinema.Services!)
                                    {
                                        <fieldset style="border: inset; padding: 8px">
                                            <legend style="text-align: center; color: #fff">@service.Name</legend>
                                            <span style="font-weight: unset">Цена: </span>@service.Price<br/>
                                            <span style="font-weight: unset">Описание: </span>
                                            <div style="width: 300px">@service.Description</div>
                                        </fieldset>
                                    }
                                }
                                @if (cinema.Snacks?.Count != default(int))
                                {
                                    <span style="margin-top: 10px">Еда: </span>
                                    <br/>
                                    @foreach (var snack in cinema.Snacks)
                                    {
                                        <fieldset style="border: inset; padding: 8px">
                                            <legend style="text-align: center; color: #fff">@snack.Name</legend>
                                            <span style="font-weight: unset">Цена: </span>@snack.Price<br/>
                                            <span style="font-weight: unset">Описание: </span>
                                            <div style="width: 300px">@snack.Description</div>
                                        </fieldset>
                                    }
                                }
                                @if (cinema.Reviews?.Count != default(int))
                                {
                                    <span style="font-weight: bold">Отзывы:</span>
                                    <br/>
                                    @foreach (var review in cinema.Reviews)
                                    {
                                        <fieldset style="border: inset; padding: 8px; margin-bottom: 20px;">
                                            <span>Автор: </span>@review.User.Login<br/>
                                            <span>Оценка: </span>@review.Grade<br/>
                                            <span>Отзыв: </span>@review.Text<br/>
                                        </fieldset>
                                    }
                                }
                            </div>
                            <br/>
                            <iframe src="@cinema.MapLink" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <br/>
                            <div style="margin-left: 45%" class="wrapper">
                                <a href="/CinemaReview/?id=@cinema.Id" class="link2">
                                    <span>
                                        <span class="button">Оценить</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <br/>
                        <br/>
                    }
                }
            </div>
        </div>
    </div>
</div>