@page
@model Cinema.View.Pages.ServiceFormModel

@{
    ViewData["Title"] = Model.Title;
}
<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <form id="contacts-form" action="/ServiceForm/" method="post">
                    <fieldset>
                        <div style="margin-left: 230px;" class="field">
                            <label>Название:</label><input type="text" name="name" value="@Model.Service?.Name"/>
                        </div>
                        <div style="margin-left: 230px;" class="field">
                            <label>Цена:</label><input type="text" name="price" value="@Model.Service?.Price"/>
                        </div>
                        @if (Model.Cinemas.Count != default)
                        {
                            <div style="margin-left: 230px;" class="field">
                                <label>Кинотеатры:</label>
                                <select name="cinemas" multiple>
                                    @foreach (var cinema in Model.Cinemas)
                                    {
                                        @if (Model.Service!.Cinemas!.Select(c => c.Name).Contains(cinema.Name))
                                        {
                                            <option selected>@cinema.Name</option>
                                        }
                                        else
                                        {
                                            <option>@cinema.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                        <div style="margin-left: 230px;" class="field">
                            <label>Описание:</label><textarea name="description" style="width: 90%">@Model.Service?.Description</textarea>
                        </div>
                        <div style="margin-left: -140px;" class="wrapper">
                            <a href="#" onclick="$('#contacts-form').submit()" class="link2">
                                <span>
                                    <span>Сохранить</span>
                                </span>
                            </a>
                        </div>
                        <br/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>